<footer class="footer">
    <div class="container-fluid">
        <div class="row">

            <!-- Map Section -->
            <div class="col-lg-3 col-md-4 col-12">
                <h5>Find Us</h5>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113376.65341585364!2d83.6287317972656!3d27.375077700000013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399417002b730c4b%3A0x9f01d3e94bd44114!2sJayanendra%20Gupta!5e0!3m2!1sen!2sin!4v1734988023878!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

            <!-- About Us Section -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <h5>About</h5>
                <p>
                    Experienced .NET developer with a passion for creating efficient web applications.
                    Specializing in backend solutions using C#, ASP.NET, and .NET Core.
                    Let's bring your ideas to life with reliable, scalable web solutions!
                </p>

            </div>

            <!-- Contact Us Section -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><strong>Email:</strong> <a href="mailto:jayanendragupta@gmail.com">jayanendragupta@gmail.com</a></li>
                    <li><strong>Phone:</strong> <a href="tel:+919554107570">+91 9554107570</a></li>
                    <li><strong>Address:</strong> Gurugram, Haryana</li>
                </ul>
            </div>

            <!-- Quick Links Section -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

        </div>

        <!-- Copyright Section -->
        <div class="text-center mt-4">
            <p>&copy; 2024 jaydeveloper. All Rights Reserved.</p>
        </div>
    </div>
</footer>
